<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>报表管理</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/css.css" />
    <script type="text/javascript" src="js/jquery1.9.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/sdmenu.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
</head>
<div>
    <span>进货站</span>
    <a href="" target="">进站数</a>
</div>
<div>
    <span>出货站</span>
    <a href="" target="">出货数</a>
</div>
<div>
    <span>内部信息</span>
    <a href="" target="">客户管理</a>
</div>
<div>
    <span>收件</span>
    <a href="" target="">收件统计</a>
</div>
<div>
    <span>派件</span>
    <a th:href="@{/tobaobiao1}" target="">派件统计</a>
</div>